<div class="col-md-12">
  <nz-spin nzTip="Veuillez patienter..." [nzSpinning]="isSpinning">
    <h4>Tableau de bord</h4>

    <nz-carousel [nzEffect]="'fade'">
      <div nz-carousel-content *ngFor="let item of array">
        <img src="{{item}}" alt="" style="width:100%">
      </div>
    </nz-carousel>


    <hr>
    <div *ngIf="statistics">

      <div class="row">
        <div class="col-md-12">
          <p-chart type="line" [data]="data3" [options]="options3"></p-chart>
        </div>
      </div>
      <hr>
      <div class="col-md-12">
        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
      </div>
      <hr>
      <div class="col-md-6 p-4">
        <p-chart type="pie" [data]="data" [options]="options"></p-chart>
      </div>
    </div>

  </nz-spin>
</div>
