<div class="col-md-12">
  <nz-spin nzTip="Veuillez patienter..." [nzSpinning]="isSpinning">
    <div class="col-12" style="text-align: right">
      <button nz-button nzType="primary" nzShape="circle" (click)="this.isModalSave=true;initForm();">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </button>
      <nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="720"
                 [nzVisible]="isModalSave" nzTitle="{{modalTitle}}"
                 (nzOnClose)="closeModal()">
        <form nz-form *nzDrawerContent [formGroup]="validateForm" (submit)="submitForm()">
          <div style="text-align: left" class="row">
            <div class="col-md-12">
              <nz-form-label nzFor="label">Intitulé de l'offre</nz-form-label>
              <nz-form-control>
                <nz-input-group>
                  <input type="text" nz-input formControlName="label"/>
                </nz-input-group>
              </nz-form-control>
            </div>

            <div class="col-md-12">
              <nz-form-label nzFor="country_id">Pays</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="country_id">
                  <nz-option *ngFor="let item of countries" nzValue="{{item.id}}" nzLabel="{{item.name}}"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <nz-form-label nzFor="remunerations_min">Salaire min</nz-form-label>
                  <nz-form-control>
                    <nz-input-group>
                      <input type="number" nz-input formControlName="remunerations_min" min="1"/>
                    </nz-input-group>
                  </nz-form-control>
                </div>
                <div class="col-md-6">
                  <nz-form-label nzFor="remunerations_max">Salaire max</nz-form-label>
                  <nz-form-control>
                    <nz-input-group>
                      <input type="number" nz-input formControlName="remunerations_max" min="1"/>
                    </nz-input-group>
                  </nz-form-control>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <nz-form-label nzFor="type_location">Type de lieu</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="type_location">
                  <nz-option nzValue="on_site" nzLabel="Sur site"></nz-option>
                  <nz-option nzValue="afar" nzLabel="À distance"></nz-option>
                  <nz-option nzValue="hybrid" nzLabel="Hybride"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>

            <div class="col-md-12">
              <nz-form-label nzFor="sector_id">Secteur</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="sector_id">
                  <nz-option *ngFor="let item of sectors" nzValue="{{item.id}}" nzLabel="{{item.name}}"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <nz-form-label nzFor="year_exp_min">Année exp min</nz-form-label>
                  <nz-form-control>
                    <nz-input-group>
                      <input type="number" nz-input formControlName="year_exp_min" min="1"/>
                    </nz-input-group>
                  </nz-form-control>
                </div>
                <div class="col-md-6">
                  <nz-form-label nzFor="year_exp_max">Année exp max</nz-form-label>
                  <nz-form-control>
                    <nz-input-group>
                      <input type="number" nz-input formControlName="year_exp_max" min="1"/>
                    </nz-input-group>
                  </nz-form-control>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <nz-form-label nzFor="type_work">Type d'emploi</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="type_work">
                  <nz-option nzValue="full_time" nzLabel="Temps plein"></nz-option>
                  <nz-option nzValue="part_time" nzLabel="Temps partiel"></nz-option>
                  <nz-option nzValue="independent" nzLabel="Indépendant"></nz-option>
                  <nz-option nzValue="freelance" nzLabel="Freelance"></nz-option>
                  <nz-option nzValue="cdd" nzLabel="CDD"></nz-option>
                  <nz-option nzValue="cdi" nzLabel="CDI"></nz-option>
                  <nz-option nzValue="internship" nzLabel="Stage"></nz-option>
                  <nz-option nzValue="study_contract" nzLabel="Contrat en alternance"></nz-option>
                  <nz-option nzValue="seasonal" nzLabel="Saisonnier"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>

            <div class="col-md-12">
              <nz-form-label nzFor="languages">Langues</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="languages" [nzSize]="size" nzMode="tags" nzPlaceHolder="Choisissez">
                  <nz-option nzValue="Anglais" nzLabel="Anglais"></nz-option>
                  <nz-option nzValue="Espagnol" nzLabel="Espagnol"></nz-option>
                  <nz-option nzValue="Français" nzLabel="Français"></nz-option>
                  <nz-option nzValue="Mandarin" nzLabel="Mandarin"></nz-option>
                  (chinois)
                  <nz-option nzValue="Hindi" nzLabel="Hindi"></nz-option>
                  <nz-option nzValue="Arabe" nzLabel="Arabe"></nz-option>
                  <nz-option nzValue="Bengali" nzLabel="Bengali"></nz-option>
                  <nz-option nzValue="Russe" nzLabel="Russe"></nz-option>
                  <nz-option nzValue="Portugais" nzLabel="Portugais"></nz-option>
                  <nz-option nzValue="Ourdou" nzLabel="Ourdou"></nz-option>
                  <nz-option nzValue="Allemand" nzLabel="Allemand"></nz-option>
                  <nz-option nzValue="Japonais" nzLabel="Japonais"></nz-option>
                  <nz-option nzValue="Swahili" nzLabel="Swahili"></nz-option>
                  <nz-option nzValue="Telugu" nzLabel="Telugu"></nz-option>
                  <nz-option nzValue="Marathi" nzLabel="Marathi"></nz-option>
                  <nz-option nzValue="Turc" nzLabel="Turc"></nz-option>
                  <nz-option nzValue="Tamil" nzLabel="Tamil"></nz-option>
                  <nz-option nzValue="Urdu" nzLabel="Urdu"></nz-option>
                  <nz-option nzValue="Coréen" nzLabel="Coréen"></nz-option>
                  <nz-option nzValue="Italien" nzLabel="Italien"></nz-option>
                  <nz-option nzValue="Punjabi" nzLabel="Punjabi"></nz-option>
                  <nz-option nzValue="Javanais" nzLabel="Javanais"></nz-option>
                  <nz-option nzValue="Wu" nzLabel="Wu"></nz-option>
                  (chinois)
                  <nz-option nzValue="Vietnamien" nzLabel="Vietnamien"></nz-option>
                  <nz-option nzValue="Cantonais" nzLabel="Cantonais"></nz-option>
                  (chinois)
                  <nz-option nzValue="Gujarati" nzLabel="Gujarati"></nz-option>
                  <nz-option nzValue="Pashto" nzLabel="Pashto"></nz-option>
                  <nz-option nzValue="Malayalam" nzLabel="Malayalam"></nz-option>
                  <nz-option nzValue="Sundanais" nzLabel="Sundanais"></nz-option>
                  <nz-option nzValue="Hausa" nzLabel="Hausa"></nz-option>
                  <nz-option nzValue="Farsi" nzLabel="Farsi"></nz-option>
                  (persan)
                  <nz-option nzValue="Birman" nzLabel="Birman"></nz-option>
                  <nz-option nzValue="Thaï" nzLabel="Thaï"></nz-option>
                  <nz-option nzValue="Ouzbek" nzLabel="Ouzbek"></nz-option>
                  <nz-option nzValue="Jin" nzLabel="Jin"></nz-option>
                  (chinois)
                  <nz-option nzValue="Yoruba" nzLabel="Yoruba"></nz-option>
                  <nz-option nzValue="Serbo-croate" nzLabel="Serbo-croate"></nz-option>
                  <nz-option nzValue="Malgache" nzLabel="Malgache"></nz-option>
                  <nz-option nzValue="Saraiki" nzLabel="Saraiki"></nz-option>
                  <nz-option nzValue="Népalais" nzLabel="Népalais"></nz-option>
                  <nz-option nzValue="Sarde" nzLabel="Sarde"></nz-option>
                  <nz-option nzValue="Khmer" nzLabel="Khmer"></nz-option>
                  (cambodgien)
                  <nz-option nzValue="Sinhala" nzLabel="Sinhala"></nz-option>
                  (singhalais)
                  <nz-option nzValue="Chhattisgarhi" nzLabel="Chhattisgarhi"></nz-option>
                  <nz-option nzValue="Zoulou" nzLabel="Zoulou"></nz-option>
                  <nz-option nzValue="Assamais" nzLabel="Assamais"></nz-option>
                  <nz-option nzValue="Madurais" nzLabel="Madurais"></nz-option>
                  <nz-option nzValue="Somali" nzLabel="Somali"></nz-option>
                  <nz-option nzValue="Marwari" nzLabel="Marwari"></nz-option>
                  <nz-option nzValue="Magahi" nzLabel="Magahi"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>

            <div class="col-md-12">
              <nz-form-label nzFor="skill_id">Compétence</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="skills" [nzSize]="size" nzMode="tags">
                  <nz-option *ngFor="let item of skills" nzValue="{{item.id}}" nzLabel="{{item.name}}"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>

            <div class="col-md-12">
              <nz-form-label nzFor="detail">Offre détaillé</nz-form-label>
              <nz-form-control>
                <nz-input-group>
                  <editor
                    [init]="{ plugins: 'lists link image table code help wordcount' }"
                    apiKey="yfms8az1wlgnme4a14cm4hrn43e2pmxe5ballw128a5uie4w"
                    formControlName="detail"
                  ></editor>
                </nz-input-group>
              </nz-form-control>
            </div>

            <div class="col-md-12">
              <nz-form-control>
                <label nz-checkbox formControlName="status">Activer ou Désactiver</label>
              </nz-form-control>
            </div>

          </div>
          <div class="mt-4">
            <button nz-button class="login-form-button login-form-margin col-md-4"
                    [disabled]="!validateForm.valid"
                    [nzType]="'primary'" style="margin-right: 2%">
              Enregistrer
            </button>
          </div>
        </form>
        <!-- <ng-template #footerTpl>
           <div style="text-align: right">
             <button nz-button nzType="primary" (click)="closeModal()">Fermer</button>
           </div>
         </ng-template>-->
      </nz-drawer>
    </div>


    <div *ngIf="offers">
      <nz-list class="demo-loadmore-list">
        <nz-list-item *ngFor="let item of offers.data">
          <ng-container>
            <nz-list-item-meta
              nzDescription="{{ item.country.name }}"
            >
              <nz-list-item-meta-title>
                <a href="javascript:void(0)" class="text-primary">{{ item.label }}</a>
                <nz-tag [nzColor]="'red'" *ngIf="item.status==0" style="margin-left: 5px">Bloqué</nz-tag>
                <nz-tag [nzColor]="'green'" *ngIf="item.status==1" style="margin-left: 5px">Disponible</nz-tag>
                <br>
                <a href="javascript:void(0)"
                   style="font-weight: bold"> {{ helperServiceFront.labelTypeWork(item.type_work) }}
                  , {{ helperServiceFront.labelTypeLocation(item.type_location) }}</a>
                <div>
                  {{item.created_at | date:'d/M/Y à HH:mm'}}
                </div>
              </nz-list-item-meta-title>
            </nz-list-item-meta>
            <ul nz-list-item-actions>
              <nz-list-item-action *ngIf="item.applies.length>0">
                <a href="javascript:void(0)" [routerLink]="['/company-offer-applies',item.slug]">
                  <nz-tag [nzColor]="'magenta'">{{item.applies.length}} Candidature(s)</nz-tag>
                </a></nz-list-item-action>
              <nz-list-item-action><a href="javascript:void(0)" (click)="editUserDegree(item)">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </a></nz-list-item-action>

            </ul>
          </ng-container>

          <nz-skeleton
            *ngIf="item.loading"
            [nzActive]="true"
            [nzTitle]="false"
            [nzLoading]="true"
          ></nz-skeleton>
        </nz-list-item>

      </nz-list>

      <div *ngIf="offers.data.length==0">
        <div class="col-12 text-center mt-55">
          <span nz-icon nzType="database" nzTheme="outline" style="font-size: 55pt"></span>
          <div class="mt-2">
            Aucune donnée disponible
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5" *ngIf="offers">
      <nz-pagination class="pagination" nzShowSizeChanger nzShowQuickJumper
                     [nzTotal]="offers.total"
                     [(nzPageIndex)]="offers.current_page"
                     [(nzPageSize)]="offers.per_page"
                     (nzPageIndexChange)="pageIndexChanged($event)">
      </nz-pagination>
    </div>
  </nz-spin>
</div>
