.title-count{
  font-size: 30pt;
  font-weight: bold;
  color: #001529;
}

.count-card{
  background-color: white;
  margin: 5px;
}

[nz-carousel-content] {
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}
