<div class="col-md-12">
  <nz-spin nzTip="Veuillez patienter..." [nzSpinning]="isSpinning">
    <h4>Tableau de bord</h4>

    <nz-carousel [nzEffect]="'fade'">
      <div nz-carousel-content *ngFor="let item of array">
        <img src="{{item}}" alt="" style="width:100%">
        </div>
    </nz-carousel>


    <hr>

    <div *ngIf="statistics">
      <div style="padding:10px;">
        <div class="row" >
          <div class="col-md-12">
            <p-chart type="line" [data]="data3" [options]="options3"></p-chart>
          </div>
        </div>

        <hr>

        <div class="row">
          <p-chart type="bar" [data]="data4" [options]="options4"></p-chart>
        </div>

        <hr>
        <div class="row" >
          <div class="col-md-12">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
          </div>
        </div>

      </div>
      <hr>
      <div class="row mt-4">
        <div class="row">
          <div class="col-md-6">
            <h6>Les compétences les plus demandées sur HireTop</h6>
            <p-chart type="pie" [data]="data" [options]="options"></p-chart>
          </div>
          <div class="col-md-6">
            <h6>Nombre d'offre relié à mes compétences sur HireTop</h6>
            <p-chart type="pie" [data]="data2" [options]="options2"></p-chart>
          </div>

        </div>
      </div>
    </div>

  </nz-spin>
</div>
